* {
    display: grid;
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins/Poppins-Light.ttf);
}


:root {
    --Cyan: hsl(180, 62%, 55%);
    --red: hsl(0, 78%, 62%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --DarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --LightGray: hsl(0, 0%, 98%);
    --font: (15px);
    --lessweight: (200);
    --mediumweight: (400);
    --highweight: (600);
    --bckgroundcolor: (white);
    --mainfont: (Poppins);

}

body {
    background-color: rgb(255, 255, 255);
    font-family: Poppins;
    margin: 40px 100px;
}

.cards-area {

    display: flex;
    max-width: 1440px;
    border: 1px solid white;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;

}

.cards-area>div {
    align-items: center;
}

.fourthcard,
.thirdcard,
.secondcard,
.firstcard {
    width: 350px;
    height: 250px;
    background-color: white;
    box-shadow: 2px 2px 20px rgb(111 112 132);
    margin-top: 15px;
    margin-bottom: 15px;
}

.firstcard {
    border-top: solid 4px var(--red);
}

.secondcard {
    border-top: solid 4px var(--Blue);
}

.thirdcard {
    border-top: solid 4px var(--Orange);
}

.fourthcard {
    border-top: solid 4px var(--Cyan);
}

svg {
    position: relative;
    justify-content: end;
    left: 255px;
    top: -6px;
}

p {
    display: inline-block;
    position: relative;
    bottom: 35px;
}

header {
    font-size: 25px;
    justify-content: center;
    position: relative;
    top: 10px;
    font-weight: 200;
    color: var(--GrayishBlue);
}

span {
    justify-content: center;
    font-weight: 200;
    color: var(--GrayishBlue);
}

#title {
    text-align: center;
    color: var(--GrayishBlue);
}

.title {
    justify-content: center;

}

h2 {
    justify-content: center;

}

h3 {
    padding-left: 20px;
}

.cardtext {
    padding-left: 20px;
    font-weight: 200;
    color: var(--GrayishBlue);
}

@media(max-width: 1200px) {
    .cards-area {
        flex-direction: column;
        align-items: center;
    }

    body {
        margin: 40px 10px;
    }
}